<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.WordDao">

	<resultMap id="wordResultMap" type="com.bluemobi.po.Word">
		<id property="wordid" column="wordid" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="type" column="type" />
	</resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="wordResultMap"></resultMap>
	<resultMap id="findResultMap"  type="java.util.HashMap" extends="wordResultMap"></resultMap>
	
	<!-- 获取一个 -->
	<select id="get" parameterType="map" resultMap="wordResultMap">
	   select 
	    wordid,
	    title,
	    content,
	    type
	   from t_word
	   where 
	    wordid=#{wordid} 
	</select>
	
	<!-- 后台文字列表 -->
	<select id="selectList" resultMap="findResultMap">
	   select 
	   		wordid,title,substring(content,1,10)as content,type 
	   from t_word
	   order by type asc
	</select>
	
	<!-- 编辑 -->
	<update id="update" parameterType="com.bluemobi.po.Word">
		update t_word 
		set content=#{content},createtime=#{createtime} 
		where wordid=#{wordid}
	</update>
	
	<!-- APP获取文字信息 -->
	<select id="getListApp" parameterType="map" resultType="com.bluemobi.po.Word">
	   select 
	    *
	   from e_word 
	   where 
	    type=#{type} 
	</select>
	
	<!-- 通过id获取文字信息 -->
	<select id="findWordById" parameterType="map" resultType="com.bluemobi.po.Word">
	   select 
	    *
	   from e_word 
	   where 
	    wordid=#{wordId} 
	</select>
</mapper> 